# IF Statement

In [1]:
print("Start of Prog")
a=int(input("Enter Input:")) # Without type casting default input type will be string
if type(a)==str:
    if (a+4)<=9:
        print(True)
    elif a<100: #else if
        print("<100")
else:
    print(False)
print("End")

Start of Prog

# Even or ODD

In [ ]:
num =eval(input())
if num%2==0:
    print("Even")
else:
    print("Odd")

55
Odd

# Read 3 numbers and print largest among them

In [ ]:
print("Enter 3 numbers:")
nums =[]
for i in range(0,3):
    a = int(input())
    nums.append(a)
nums.sort()
print("The largest number is:",nums[2])
order=input("Enter the required number arrangement:Asec/Desc ")
if order=="Asec":
    print(nums)
elif order=="Desc":
    nums.sort(reverse=True)
    print(nums)

Enter 3 numbers:
6
15
9
The largest number is: 15
Enter the required number arrangement:Asec/Desc Desc
[15, 9, 6]

# String Functions

In [ ]:
prnt = "  Life in Lavasa is \n Great!  " # \n for new print line
print(prnt)
print(len(prnt)) #Get no. of character
prnt=prnt.strip() #Remove preceeding spaces and space in the end
print(prnt)

H
e
l
l
o

b
r
o
*list[1, 2, 3, 5]
  Life in Lavasa is
 Great!
30
Life in Lavasa is
 Great!

# For Loop and List

In [ ]:
# for variable in ():

for a in ("Hello bro\n"):
    print(a)
lst=["a","cla",3,5.5,-4] #Can take any type of variable
for a in lst:
    print(a)
for a in range(-1,-11,1): # Range(start num,<last num,Increment) -> Num can also be in negative
    print("\n",a)
print(lst[0]+lst[1])
print(len(lst)) #Size of list

H
e
l
l
o

b
r
o


a
cla
3
5.5
-4
acla
5

# List

In [ ]:
#Get List value as input
n=int(input("Enter the number of inputs"))
lst=[]
for i in range(0,n,1):
    a=input()
    lst.append(a)
print("\n",lst)

Enter the number of inputs2
5
6

 ['5', '6']

# String Operations

In [16]:
a="12 34 My name is Thamizh "
print(a.strip())
print(a.split(' ')[0]+a.split(' ')[1])
print(a.upper())
print(a.lower())
print(a.swapcase())
print(a[7])# String Slicing
print(a[:7]) #till 7th place

12 34 My name is Thamizh
1234
12 34 MY NAME IS THAMIZH
12 34 my name is thamizh
12 34 mY NAME IS tHAMIZH
y
12 34 M

Function takes list of numbers as input and the sum of numbers

In [1]:
num = [2,34,55,646,78,89,23,56]
sum=0
for i in num:
    sum=sum+i
print(sum)

983

Getting comma seperated values as input

In [8]:
def sumValues(nums):
    val=nums.split(",") #split the input using deliminator and store it as list
    sum=0
    for i in val:
        j=int(i)
        sum=sum+j
    return sum
nums=input()
print(sumValues(nums))

3

Count ODD and EVEN numbers

In [12]:
def coutOnE(val):
    odd=[]
    even=[]
    countoe=0
    countoo=0
    for i in val:
        j=int(i)
        if j%2==0:
            even.append(j)
            countoe=countoe+1
        else:
            odd.append(j)
            countoo=countoo+1
    return odd, even, countoe, countoo
temp=input()
val=temp.split(",")
odd, even, countoe, countoo = coutOnE(val)
print("Odd List",odd,"\nEven List", even,"\nEven count-",countoe,"\nEven count-",countoo)

Odd List [1, 3, 5]
Even List [2, 4, 6]
Even count- 3
Even count- 3

# Pseudo code
DISPLAY, INPUT, OUTPUT, NUMBER, IF, ELSE, FOR, DO, WHILE DO, BEGIN, END

# General Description
**Apps**
- DSA - Data Stucture and Algorithms
- DBMS - Data Base Management System, used for storing business data and later retrieved for analytical and functional purposes.
- Datasets - Datasets are the group of data which holds a relationship to one another
- Database - Oracle, SAP, MongoDB
- IDE - Integrated development Environment, this platform helps developers to develop code, edit and debug it. Multiple programming language can be used in for coding in IDE

**Domains**
- Web Dev - this domain is used to develop web based applications that are accessed from a server by a end user
- Game Dev - Developing video games that require graphics, coding, hardware
- Mobile Apps - Applications that run in mobile OS, each application has its own purpose and it is made dynamic for interaction

**API** - Application Programming Interface
- Django API -
- REST API -

In [10]:
ans=1
a=int(input("Number of Input"))
for i in range(1,a+1):
    ans=int(input("\nEnter Number"))*ans
print(ans)

120

# Operations in file

In [25]:
file = open("Sample.txt","a+")
#Open a file before any action on it and mention the mode, 
# w+ writing - replace the exisiting content
# a+ appending - append new data with exisiting data
# r+ reading - mode to read the content in a file

In [28]:
file.write("Line4\n")
#Assign open to variable and call the variable to write in it

6

In [32]:
file.close()

In [33]:
file = open("Sample.txt","r+") 
file.readline() #Readline to read first line only

In [34]:
file.readlines() 
#After executing readline, readlines will display from 2nd line of the file. If readlines executed first then output will start from first line.

['Line1\n', 'Line2\n', 'Line3\n', 'Line4\n']

Write a function, that accepts your details and save into a file

In [38]:
def writeFile(name,email,phone):
    detailfile=open(name+".txt","w+")
    detailfile.write("Name:\t"+name)
    detailfile.write("\nEmail:\t"+email+"\nPhone:\t"+phone)
    detailfile.close()
    return True

name=input("Enter your name:")
phone=input("Enter your phone number:")
email=input("Enter your EmailID:")

if writeFile(name,email,phone):
    print("Detailes saved in file successfully")    
fileop=open(name+".txt","r+")
fileop.readlines()

Detailes saved in file successfully

['Name:\tTam\n', 'Email:\tdgd\n', 'Phone:\ttdfg']

In [2]:
items=["dish1","dish2","dish3","dish4","dish5","dish6"]
price=[30,40,50,60,45,80]
a=input()
print(price[items.index(a)])

30

In [1]:
#Alternative for file open and write
with open("Sample.txt","w+") as file:
    file.write("Anbu")

# While Loop

In [5]:
a=0
while a in range(1,10,1):
    print(a)

# Break, Pass, Continue

In [9]:
for i in range(1,10,1):
    if i==8:
        break
    elif i==3:
        continue
    else:
        pass
    print(i)

1
2
4
5
6
7

# Set - Used to obtain unique item

In [13]:
liste=["add","sub",1,2,1,"add","div","div"]
sete=set(liste)
print(sete)
print(sete)

{1, 2, 'add', 'sub', 'div'}
{1, 2, 'add', 'sub', 'div'}

Write a program to accept 10 random strings identify the unique items and their count

In [21]:
words=[0]*10
for i in range(0,10):
    words[i]=input()
    words[i]=words[i].strip()
    words[i]=words[i].upper()
print(words)
setw=set(words)
for i in setw:
    count=0
    for j in words:
        if i==j:
            count = count+1
    print(i," is present ",count," time in list")

['T', 'T', 'U', 'U', 'P', 'P', 'L', 'L', 'H', 'H']
P  is present  2  time in list
T  is present  2  time in list
H  is present  2  time in list
U  is present  2  time in list
L  is present  2  time in list

# Use of Dictionary

In [3]:
my_dict={"Name":"Anbu",
         "Age":22,
         "Hobby":["Photo","Art"],
         "BoolVal":True}
print(my_dict["Name"])
print(my_dict)
my_dict["Name"]="Thamizh"
my_dict["Phone"]=9500559267
print(my_dict)
print(my_dict.values())
print(my_dict.keys())
for i in my_dict.values():
    print(i)
print(my_dict["Name"])
for n in my_dict["Age"]:
    print(n)

Anbu
{'Name': 'Anbu', 'Age': 22, 'Hobby': ['Photo', 'Art'], 'BoolVal': True}
{'Name': 'Thamizh', 'Age': 22, 'Hobby': ['Photo', 'Art'], 'BoolVal': True, 'Phone': 9500559267}
dict_values(['Thamizh', 22, ['Photo', 'Art'], True, 9500559267])
dict_keys(['Name', 'Age', 'Hobby', 'BoolVal', 'Phone'])
Thamizh
22
['Photo', 'Art']
True
9500559267
Thamizh

TypeError: 'int' object is not iterable

In [14]:
student=[
    {"RollNO":2122042,
     "Name":"Anbu",
     "Age":24
     },
    {"RollNo":23122022,
                     "Name":"Hiran",
                     "Age":21
                     }
                     ]

# Menu Driven Program

In [3]:
nameList=[] #Global Variable
def storeName():
    name=input("Enter the name to be saved: ")
    name=name.strip().title() #Convert to title case (First charc is upper)
    nameList.append(name)
    return name

def listNames():
    print("*"*30)
    print("Names in the List")
    print("*"*30)
    for name in nameList:
        print(name)
    print("*"*30)

def searchName(search):
    search=search.strip().title()
    for name in nameList:
        if name==search:
            print("Name exist in the list")

print("*"*30+"\nName Management System\n"+"*"*30)
while True:
    print("*"*30)
    print("1.Enter a Name")
    print("2. List the Name")
    print("3. Search for a Name")
    print("4. Exit")
    print("*"*30)

    choice=input("Enter your choice?")
    print("You have entered choice: ",choice)

    if int(choice)==1:
        name=storeName()
        print("Name {} added to list successfully!".format(name))
    elif int(choice)==2:
        listNames()
    elif int(choice)==3:
        name=input("Enter a name to be searched")
        searchName(name)
    elif int(choice)==4:
        exit() #Stop the program execution
    else:
        print("Invalid Option")

******************************
Name Management System
******************************
******************************
1.Enter a Name
2. List the Name
3. Search for a Name
4. Exit
******************************
You have entered choice:  2
******************************
Names in the List
******************************
******************************
******************************
1.Enter a Name
2. List the Name
3. Search for a Name
4. Exit
******************************
You have entered choice:  1
Name 4 added to list successfully!
******************************
1.Enter a Name
2. List the Name
3. Search for a Name
4. Exit
******************************
You have entered choice:  4
******************************
1.Enter a Name
2. List the Name
3. Search for a Name
4. Exit
******************************
You have entered choice:  4
******************************
1.Enter a Name
2. List the Name
3. Search for a Name
4. Exit
******************************

:

In [1]:
samp_dict={"name":[],"age":[],"mail":[]}
stop=0
while stop!=1:
    name=input("Name")
    age=input("age")
    mail=input("mail")
    stop=input("stop")
    samp_dict["name"].append(name)
    samp_dict["age"].append(age)
    samp_dict["mail"].append(mail)
    print(samp_dict)
    for i in samp_dict["age"]:
        print(i)
print(samp_dict["age"].index("23"))

{'name': [''], 'age': ['tam'], 'mail': ['22']}
tam
{'name': ['', '2'], 'age': ['tam', 'werer'], 'mail': ['22', '23']}
tam
werer
{'name': ['', '2', '1'], 'age': ['tam', 'werer', 'tam'], 'mail': ['22', '23', '23']}
tam
werer
tam

In [7]:
list=[["tea",10],["Coffe",20]]
j=0
for i in list:
    j=j+1
    print(j,i[0],i[1])

1 tea 10
2 Coffe 20

# Class and Objects

In [9]:
class restaurant:
    def __init__(self,item,qty):
        self.item=item
        self.qty=qty
        self.menu={
            "rice":30,
            "chicken":100
        }

    def findCost(self):
        total =0
        total = self.menu[self.item]*self.qty
        return total
    
order=restaurant("chicken",100)
print(order.findCost())

10000

In [7]:
class expenseTrack:
    def __init__(self):
        self.tracker={
            "income":[],
            "expense":[]
        }
        self.expenseDetails={"transacDetails":[]}
    def recordTransaction(self,type,category,value,description, date):
        transacDetails={"Category":category,"Cost":value,"Description":description,"Date":date}
        if type=="income":
            self.tracker["income"].append(value)
        else:
            self.tracker["expense"].append(value)
        
        self.expenseDetails["transacDetails"].append(transacDetails)

    def calculateTransac(self):
        totalin=0
        totalex=0
        for i in range(0,len(self.tracker["income"])):
            totalin+=int(self.tracker["income"][i])
            totalex+=int(self.tracker["expense"][i])
        return totalex,totalin

transaction1=expenseTrack()
num=int(input("Enter the number of records to be stored:"))
for i in range(0,num):
    transaction1.recordTransaction(
        input("Enter the type:"),input("Enter category"),input("Enter the value:"),
        input("Enter description:"),input("Enter the date:"))
    
totalin,totalex=transaction1.calculateTransac()
print("Total Expense=",totalex,"\nTotal Income=",totalin)
for i in transaction1.expenseDetails["transacDetails"]:
    print(i)

Total Expense= 50000
Total Income= 10000
{'Category': 'Salary', 'Cost': '50000', 'Description': 'Salary from Accenture', 'Date': '20.09.23'}
{'Category': 'Food', 'Cost': '10000', 'Description': 'Food bought outside', 'Date': '21.09.23'}
{'Category': 'Entertainment', 'Cost': '300', 'Description': 'Leo film', 'Date': '20.09.23'}
{'Category': 'Travel', 'Cost': '5000', 'Description': 'travel to hometown', 'Date': '22.09.23'}

Python Library -
numpy, pandas, matplotlib
Distributer - PyPi, Conda

In [ ]:
import numpy as np